.header-content{
    background-image: url("/media/portfolio-back.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-bottom: 0;
}

.header-content-container{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,0.7175245098039216) 0%, rgba(148,187,233,0.8491771708683473) 100%);
}

.header-title{
  padding: 0;
  margin: 0;
  height: auto;
}


@media only screen and (min-width: 900px)

{

.header-content-container{
  display: flex !important;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.header-title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
}

.portfolio{
  position: relative;
  width: 100%;
  height: auto;
  margin: 3rem 0;
}

.portfolio-container{
  width: 100%;
  margin: auto;
}

.portfolio-card{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.portfolio-card:nth-of-type(even)
{
  background-color: #d8d6d77c;
}
.port-content{
  width: 100%;
  padding:0 5% 3rem 5%;
  
}
.port-content h2{
  font-size: 1.3rem;
  font-weight: 600;
  text-align: start;
  font-family: "Sora", sans-serif;
  color: var(--dark-black);
  margin-bottom: 1rem;
}

.port-content h5{
   font-size: 1rem;
   font-weight: 600;
   font-family: "Sora", sans-serif;
  color: var(--dark-black);
  margin-bottom: .5rem;
  
}

.port-content ul{
  list-style:square;
  padding-left: 5%;
}

.port-content ul li{
  padding-bottom: .5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-black);
}

.port-content p{
  font-size: 1rem;
  color: var(--dark-black);
  font-weight: 500;
  display: inline;

}

.port-content a{
  color: var(--brand-green);
  cursor: pointer;
}

.port-image{
  padding: 0 5%;
}